.min-header {
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1512px;
	height: 100px;
	gap: 30px;
}

.min-header > span {
	color: #1e1e1e;
	font-family: Bokonique;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	cursor: pointer;
}

.min-header > span:hover{
    color: #12724F;
}
