.pageInfo-wrapper {
  background-color: #F4F9FF;
  padding: 105px 0 120px 0;
}

.pageInfo-box {
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 162px;
  transform: translate(-33px);
}

.pageInfo-texts {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: flex-start;
  justify-content: center;
}

.pageInfo-Header {
  color: #12724F;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}

.pageInfo-Text {
  font-size: 1rem;
  color: #1E1E1E;
}

.pageInfo-btn {
  padding: 20px 39px;
  background-color: #12724F;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.pageInfo-text button:hover {
  background-color: #0a5f40;
}

.img-wrapper {
  position: relative;
  max-width: 555px;
  width: 100%;
  z-index: 100;
}

.img-wrapper > svg {
  width: 366px;
  height: 366px;
  object-fit: contain;
  position: absolute;
  top: 30%;
  right: -30%;
  z-index: 10;
}

.img {
  position: relative;
  width: 100%;
  object-fit: contain;
  z-index: 100;
}
