body {
	font-family: "Bokonique", sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

.header {
	background: #ffff;
	display: flex;
	justify-content: space-between;
	width: 1512px;
	height: 78px;
	padding: 0 40px;
}

.universal-header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 78px;
}

.nav-list {
	display: flex;
	align-items: center;
	gap: 30px;
}

.nav-list span {
	cursor: pointer;
	font-weight: 700;
}

.image-box {
	display: flex;
	align-items: center;
	gap: 3px;
	cursor: pointer;
}
.image {
	width: 30px;
	height: 30px;
	margin-left: 10px;
}

.image-icon {
	width: 15px;
	height: 15px;
	margin-top: 8px;
}

span a:hover {
	color: #12724f;
}
.active {
	color: #12724f;
}
