.footer-bar-wrapper {
	height: 342px;
	width: 1544px;
	background-color: #12724f;
	display: flex;
	flex-direction: column;
	gap: 90px;
	padding-bottom: 17px;
}

.footer-bar {
	max-width: 1362px;
	width: 100%;
	margin: 0 auto;
	padding: 50px 0 0 0;
	display: flex;
	justify-content: space-between;
}

.footer-logo {
	width: 167px;
	height: 84px;
	object-fit: contain;
	cursor: pointer;
}

.footer-links {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: flex-start;
}

.footer-links-header {
	color: #FFF;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

.footer-bar-link {
	color: #FFF;
	font-size: 12.5px;
	font-style: normal;
	font-weight: 700;
	line-height: 124%;
	text-transform: uppercase;
	margin-left: 15px;
}

.footer-bar-contacts {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: flex-start;
}

.footer-bar-contact {
	display: flex;
	gap: 5px;
	align-items: center;
}

.footer-bar-contact > span {
	color: #FFF;
	font-size: 12.5px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.footer-bar-social {
	display: flex;
	align-items: center;
	gap: 16px;
}

.footer-bar-social > img {
	width: 49.5px;
	height: 49.5px;
	object-fit: contain;
}

.footer-bar-text {
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 124%;
	align-self: center;
}