.container{
    display: flex;
    justify-content: space-around;

}

.pageProductsList-container h2{
    width: 100%;
    height: 100px;
    color: #12724F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageProductsList-button{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageProductsList-button button {
    width: 235px;
    height: 62px;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #12724F;
}